/* 
Color theme 
Red: #B52706
Green: #198474
Yellow: #DBAD4A
Black: #1B120F
Grey: #443E51
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    font-family: 'Roboto', monospace !important;
}
html,
body {
    background: #253237; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right bottom, #253237, #010202); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right bottom, #253237, #010202); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 3000px;
    width: 100%;
}
.typedContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    text-align: center;
    z-index: 1;
}
.navDrawer {
    overflow-x: hidden;
}
.avatarContainer {
    display: inline-block;
    margin-bottom: 10px;
}
.avatar {
    display: block;
    text-align: center;
    margin: 0.5rem auto;
}
.htmlTag {
    color: #e72b5f;
}
.htmlTag.open:before {
    content: ' <';
    color: #fff;
}
.htmlTag.open:after {
    content: '> ';
    color: #fff;
}
.htmlTag.closed:before {
    content: ' </';
    color: #fff;
}
.htmlTag.closed:after {
    content: '> ';
    color: #fff;
}
